body {
    background-color: #f9f2ec;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
}
p {
    text-align: center;
}
section > a {
    display: block;
    text-align: center;
    font-size: 16pt;
    margin-bottom: 8px;
}

nav > a {
    font-size: 24pt;
    margin: 5px;
}

img {
    width: 800px;
    margin-left: calc(50% - 400px);
    padding: 0px;
}

li {
    text-align: center;
    font-size: 5vh;
}

/* ol li {
    list-style-position: inside;
} */

ol {
    padding: 0;
}

.mediumCentered {
    width: 800px;
    margin-left: calc(50% - 400px);
    padding: 0px;
}

.roundedCorner {
    border-radius: 20px;
}

#portrait {
    border-radius: 50%;
}